#contacts {
    
    background-color: #100F0F;
    color: #F1F1F1;
    position: relative;
    width: 100%;
    padding: 40px 100px;
    

}


#contacts .title {

    font-family: 'Nanum Pen Script', cursive;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{

    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.form {

    grid-area: form;
}

.info {

    grid-area: info;
}

.map {

    grid-area: map;
}

.contact {

    background-color: #F1F1F1;
    padding: 40px;
    box-shadow: 0 5px 35px rgba(255, 255, 255, 0.15);
}


.contact h3 {

    color: #100F0F;
    font-family: 'Pangolin', cursive;
    font-size: 1.4em;
    margin-bottom: 10px;

}

.contact-label {

    color: #100F0F;
    font-weight: 500;
}

.formBox {

    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
    position: relative;
    width: 100%;


}
.formBox .row50 {

    display: flex;
    gap: 20px;
}

.inputBox {

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{

    width: 100%;
}

.inputBox span {

    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;

}

.inputBox input {

    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #100F0F;;
}

.inputBox textarea {

    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #100F0F;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {

    background: #100F0F;
    color: #F1F1F1;
    border: none;
    font-size: 1.1em;
    max-width: 120p;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;

}

.submit-button {

    transition: background-color 0.15s;
}
.submit-button:hover {

    background-color: #F1F1F1;
    color: #100F0F;


}

.info-icon, .place {

    color: #100F0F;
}

.info {
    background: #F1F1F1
}

.info h3 {


}
.place {

    font-family: 'Pangolin', cursive;    
}

.info .infoBox div {

    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.info .infoBox div span {

    min-width: 40px;
    height: 40px;
    background: #100F0F;
    color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {

    color: #100F0F;
    font-size: 1.1em;
    
}

.info .infoBox div a {
    
    text-decoration: none;
    color: #0F3D3E;
    font-size: 1.1em;
}

.sci {

    margin-top: 40px;
    display: flex;
}

.sci li {

    list-style: none;
    margin-right: 15px;
    

}

.sci li a {

    color: #100F0F;
    font-size: 2.5em;

}

.sci li a:hover
{
    color: #0F3D3E;
}


.map {

    padding: 0;

}

.map iframe {

    width: 100%;
    height: 100%;
}

@media (max-width: 991px){

    body {

        background: #0F3D3E;

    }

    #contacts {

        padding: 20px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
    }

    .map {

        min-height: 300px;
        padding: 0;
    }

    .formBox .row50 {

        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        
        width: 100%;

    }

    .contact {

        padding: 30px;
    }
    
}





